if SHIELD_BRADDACTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "bradDactyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BRADDACTYL_LEFT || SHIELD_BRADDACTYL_RIGHT

config ZMK_SPLIT
    default y

endif
