#include "bradDactylV1_common.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        // Assuming a direct mirror of the left half
        = <&gpio0 22 GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN>
        , <&gpio0 24 GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN>
        , <&gpio0 4 GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN>
        , <&gpio0 11 GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN>
        , <&gpio1 4 GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN>
        , <&gpio1 6 GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN>
        ;
};
