if SHIELD_BRADDACTYLV1_LEFT

    config ZMK_KEYBOARD_NAME
        default "bradDactylV1"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif

if SHIELD_BRADDACTYLV1_LEFT || SHIELD_BRADDACTYLV1_RIGHT

    config ZMK_SPLIT
        default y

endif
